<footer op-60 text-sm text-slate>
  <p></p>
  <hr class="mt-2 bg-slate-5 bg-op-15 border-none h-1px" />

  <div>使用说明：</div>
  <div>（1）邀请码：<span text-slate-100 hover:text-slate-3>关注诺维之舟，回复“ycode”</span></div>

  <div>
    （2）APIKEY默认由平台提供。自备更好<span px-1>|</span>
    <a href="http://nwzz.xyz" target="_blank" hover:text-slate-3>网络助手</a>
  </div>
  <div>
    （3）角色设定，参考
    <a hover:text-slate-3 href="https://github.com/fangling123/chatgpt0307/blob/main/src/prompts.ts" target="_blank">
      这里</a
    >
    。其他设置自行调节。
  </div>
</footer>
